		<!-- Sidebar -->
		<div class="sidebar sidebar-style-2" data-background-color="dark2">	
			<div class="sidebar-wrapper scrollbar scrollbar-inner">
				<div class="sidebar-content">

				{% if request.user.is_authenticated %}	
					<ul class="nav nav-primary">
						<li class="nav-item {% if 'index' in segment %} active {% endif %}">
							<a aria-expanded="false">
								<i class="fas fa-home"></i>
								<p>Dashboard</p>
								{% comment %} <span class="caret"></span> {% endcomment %}
							</a>
							<div class="collapse" id="dashboard">
								<ul class="nav nav-collapse">
									<li>
										<a href="{% url 'patient_orders_list' %}">
											<span class="sub-item">History of Requests</span>
										</a>
									</li>
								</ul>
							</div>
						</li>
						<li class="nav-item {% if 'index' in segment %} active {% endif %}">
							<a href="{% url 'pre_orders' %}" aria-expanded="false">
								<i class="fas fa-layer-group"></i>
								<p>Accepted Orders</p>
							</a>
						</li>
					</ul>
				{% else %}
					<ul class="nav nav-primary">
						<li class="mx-4 mt-2">
                            <a target="_blank"
                               href="https://appseed.us/admin-dashboards/django-dashboard-atlantis-dark-pro" 
                               class="btn btn-danger btn-block">
                                <span class="btn-label mr-2"> <i class="fa fa-rocket"></i> </span>PRO Version</a> 
						</li>
					</ul>
				{% endif %}	
				</div>
			</div>
		</div>
        <!-- End Sidebar -->
        