<!-- Sidebar -->
<div class="sidebar sidebar-style-2" data-background-color="dark2">
    <div class="sidebar-wrapper scrollbar scrollbar-inner">
        <div class="sidebar-content">

            {% if request.user.is_authenticated %}
			<div class="user">
				<div class="avatar-sm float-left mr-2">
					<img src="/static/assets/img/my_profile.png" alt="..." class="avatar-img rounded-circle">
				</div>
				<div class="info">
					<a data-toggle="collapse" href="#collapseExample" aria-expanded="true">
						<span>
							{{ request.user.username }}
							<span class="user-level">
								{{ request.user.email }}
                                <br>Wallet Credit: $ {{ request.user.wallet }}
							</span>
							<span class="caret"></span>
						</span>
					</a>
					<div class="clearfix"></div>

					<div class="collapse in" id="collapseExample">
						<ul class="nav">
							<li>
								<a href="#profile">
									<span class="link-collapse">My Profile</span>
								</a>
							</li>
							<li>
								<a href="{% url 'signout' %}">
									<span class="link-collapse">Logout</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
            <ul class="nav nav-primary">
                <li class="nav-item {% if 'index' in segment %} active {% endif %}">

                {% if request.user.user_type == 1 %}

                <li class="nav-item {% if 'index' in segment %} active {% endif %}">
                    <a href="{% url 'expertise_orders_list' %}" aria-expanded="false">
                        <i class="fas fa-home"></i>
                        <p>All Requests</p>
                    </a>
                </li>

                {% else %}

                <li class="nav-item {% if 'index' in segment %} active {% endif %}">
                    <a href="{% url 'patient_orders_list' %}" aria-expanded="false">
                        <i class="fas fa-home"></i>
                        <p>History of Requests</p>
                    </a>
                </li>
                <li class="nav-item {% if 'index' in segment %} active {% endif %}">
                    <a href="{% url 'all_doctors' %}" aria-expanded="false">
                        <i class="fas fa-table"></i>
                        <p>Doctors</p>
                    </a>
                </li>

                <li class="nav-item {% if 'index' in segment %} active {% endif %}">
                    <a href="{% url 'favorite_doctors' %}" aria-expanded="false">
                        <i class="fa fa-heartbeat"></i>
                        <p>Favorite Doctors</p>
                    </a>
                </li>

                <li class="nav-item {% if 'index' in segment %} active {% endif %}">
                    <a href="{% url 'online-payment' %}" aria-expanded="false">
                        <i class="fa fa-credit-card"></i>
                        <p>Charge Your Wallet</p>
                    </a>
                </li>


                {% endif %}

                </li>
                {% if request.user.user_type == 1 %}
                <li class="nav-item {% if 'index' in segment %} active {% endif %}">
                    <a href="{% url 'active_orders' %}" aria-expanded="false">
                        <i class="fas fa-hourglass"></i>
                        <p>Active Orders</p>
                    </a>
                </li>
                <li class="nav-item {% if 'index' in segment %} active {% endif %}">
                    <a href="{% url 'finished_orders' %}" aria-expanded="false">
                        <i class="fas fa-layer-group"></i>
                        <p>Done Orders</p>
                    </a>
                </li>
                {% endif %}
            </ul>
            {% else %}
            <ul class="nav nav-primary">
                <li class="mx-4 mt-2">
                    <a target="_blank"
                       href="https://appseed.us/admin-dashboards/django-dashboard-atlantis-dark-pro"
                       class="btn btn-danger btn-block">
                        <span class="btn-label mr-2"> <i class="fa fa-rocket"></i> </span>PRO Version</a>
                </li>
            </ul>
            {% endif %}
        </div>
    </div>
</div>
<!-- End Sidebar -->
        