{% load static %}

<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="utf-8"/>
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible"/>
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1, maximum-scale=2, user-scalable=no"
    />   
    <meta
            name="description"
            content="Semantic-UI-Forest, collection of design, themes and templates for Semantic-UI."
    />
    <meta name="keywords" content="Semantic-UI, Theme, Design, Template"/>
    <meta name="author" content="PPType"/>
    <meta name="theme-color" content="#ffffff"/>
    <title>DociCom</title>
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"
            type="text/css"
    />
    <link rel="stylesheet" href="{% static 'assets/css/home/home.css' %}">
    <link rel="icon" href="/static/assets/img/icon.ico" type="image/x-icon"/>
</head>

<body id="root">
<div class="ui inverted vertical center aligned segment" id="container">
    <nav class="ui container">
        <div class="ui borderless inverted compact menu">
            <a class="active item" href="">Home</a> <a class="item" href="/accounts/signup/">Register</a>
            <a class="item" href="/accounts/signin/">Login</a>
            <a class="item" href="/accounts/help/">Help</a>
        </div>
    </nav>
    <div class="ui content container" style="top: 140px;width: 50%;">
        <h1 class="ui inverted header">Docicom</h1>
        <p dir="ltr">
            DociCom is an online healthcare system which was created during the COVID-19 pandemic in order to help
            deliver medical services at the comfort of your home and eliminate the need for visiting crowded and
            high-risk hospitals and clinics. The current version of DociCom is still under development and we appreciate
            any feedback for improving our services. Thank you very much for supporting DociCom and helping us make
            medical service available at minimum cost to everyone.
        </p>

        <a href="/accounts/signup/">
            <button class="huge ui inverted green button">Register</button>
        </a>
    </div>
</div>
</body>
</html>