{% extends "layouts/base.html" %}
{% load static %}

{% block title %} DociCom - Expertises {% endblock %}

{% block content %}
<meta charset="utf-8">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
<link rel="stylesheet" href="{% static 'assets/css/home/expertise_list.css' %}">

<div class="ui raised very padded text container segment" id="container">
    <h3 class="ui block black header" style="text-align: center;">
        <i class="fa fa-user-md" aria-hidden="true"></i>
        Order successfully deleted.
    </h3>
</div>

{% endblock content %}