{% extends "layouts/base.html" %}
{% load static %}

{% block title %} DociCom - Expertises {% endblock %}

{% block content %}
<meta charset="utf-8">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
<link rel="stylesheet" href="{% static 'assets/css/home/expertise_list.css' %}">

<div class="ui raised very padded text container segment" id="container">
    <h3 class="ui block black header" style="text-align: left;">
        Expertise:
        <b>{{ exp_name }}</b>
        <i class="heartbeat red icon"></i>
        Choose your desired field of expertise:
    </h3>
    {% if doctor_list %}

    <table class="table align-middle table-lm">
        <thead>
        <tr>
            <th><abbr title="ID">ID</abbr></th>
            <th>Name</th>
            <th>Last Name</th>
            <th>Phone Number</th>
        </tr>
        </thead>
        <tbody>

        {% for exp in expertise_list %}

        <tr>
            <th>{{ doc.user.id }}</th>
            <td>{{ doc.user.first_name }}</td>
            <td>{{ doc.user.last_name }}</td>
            <td>{{ doc.user.phone_number }}</td>
            <td>
                <button type="button" onclick="window.location='{% url 'req_for_doc' doc.user.id %}'"
                        class="btn btn-outline-secondary btn-sm">
                    <i class="fa fa-check-circle"></i>
                    <b>choose</b>
                </button>
            </td>
        </tr>

        {% endfor %}

        </tbody>
    </table>
    {% else %}
    <p>Unfortunately no doctors are available at the moment. We apologize for the inconvenience.
        <i class="frown blue icon"></i>
    </p>
    {% endif %}
</div>

{% endblock content %}