{% extends "layouts/base.html" %}

{% block title %} Doctors {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

	<div class="content">
		<div class="page-inner">

			<div class="row">
				<div class="col-md-12">
					<div class="card">
						<div class="card-header">
							<h4 class="card-title">Dr. {{doctor.user.first_name}} {{ doctor.user.last_name }}</h4>
						</div>
						<div class="card-body">
							<div class="table-responsive">
								<table id="multi-filter-select" class="display table table-striped table-hover" >
									<thead>
										<tr>
											<th>Expertise</th>
											<th>Work Experience</th>
											<th>Degree</th>
                                            <th>Submit Request</th>
										</tr>
									</thead>
									<tbody>
                                        {% if doctor %}
                                                <tr>
                                                    <td>{{ doctor.expertise }}</td>
                                                    <td>{{ doctor.work_experience }} &nbsp  years </td>
													<td>{{ doctor.get_degree_type_display }}</td>

                                                    <td>
                                                        <div class="form-button-action">
                                                            <button type="button" onclick="window.location='{% url 'req_for_doc' doctor.user.id %}'"
                                                                    class="btn btn-outline-secondary btn-sm">
                                                                <i class="fa fa-clipboard-check"></i>
                                                                Submit Request
                                                            </button>
                                                        </div>
                                                    </td>
                                                </tr>
                                        {% else %}
                                            Unfortunately no doctors have registered in DociCome yet.
                                        {% endif %}

									</tbody>
								</table>

                            {% if orders %}
                            <div class="card-body">
							<div class="table-responsive">
								<table id="multi-filter-select" class="display table table-striped table-hover" >
									<thead>
										<tr>
											<th>Score</th>
											<th>Review</th>

										</tr>
									</thead>
									<tbody>


                            Average Score for this doctor: {{ score_mean }}
                                            {% for order in orders %}
                                                <tr>
                                                    <td>{{  order.score}}</td>
                                                    <td>{{ order.comment }}</td>
                                                </tr>
                                            {% endfor %}
                                        {% else %}
                                            No reviews have been posted for Dr. {{ doctor.user.first_name }} {{ doctor.user.last_name }} yet.
                                        {% endif %}
                                    </tbody>
                                </table>
                            </div>
                            </div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
