{% extends "layouts/base.html" %}
{% load static %}

{% block title %} Dashboard {% endblock %}

{% block content %}

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,500&amp;subset=latin-ext" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
<link rel="stylesheet" href="{% static 'assets/css/home/patient_orders_list.css' %}">

<div class="content">
    <div class="cards-container">
        {% if orders_list %}
            {% for order in orders_list %}
                <div class="card profile-card">
                    <div class="card-body pt-4">
                        <div class="card__icon">
                            <img src="{% static 'assets/img/patient_icon.png' %}"/>
                        </div>
                        <h5 class="card-title">Patient: {{ order.user.first_name }} {{order.user.last_name}}</h5>
                        <div>
                            <li class="card-text"><b>Address:</b> {{ order.address }}</li>
                            <li class="card-text"><b>Description:</b> {{ order.details }}</li>
                        </div>
                        <button type="button" class="btn mt-3" onclick="window.location='{% url 'accept_order' order.id %}'">
                            <b>Accept</b>
                        </button>
                    </div>
                </div>
            {% endfor %}
        {% else%}
            There are no requests submitted.
        {% endif%}
    </div>
</div>
{% endblock content %}
