<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
<head>
    <meta charset="utf-8">
    <title>لیست تخصص‌ها</title>
</head>

<div class="ui raised very padded text container segment">
    
    <div class="ui vertical labeled icon buttons">
        <button class="ui button red">
            <i class="sign out alternate icon white"></i>
            <a onclick="window.location='{% url 'signout' %}'" style="color: white;">خروج</a>
        </button>
    </div>
    
    <h3 class="ui block black header" style="text-align: right;">
        .تخصص مورد نظر خود را انتخاب کنید
        <i class="heartbeat red icon"></i>
    </h3>
    {% if expertise_list %}
        <div class="ui middle aligned selection animated divided list">
            {% for exp in expertise_list %}
                <div class="item black">
                    <div class="ui content">
                        <li><a href="{% url 'req_for_exp' exp.id %}" class="ui header big"
                               style="text-align: right;">{{ exp.name }}</a></li>
                        <div class="description aligned center"> قیمت : حدودا <b>{{ exp.price }}</b> تومان</div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>.با عرض پوزش فعلا قادر به ارائه‌ی خدمات پزشکی از هیچ تخصصی نیستیم
            <i class="frown blue icon"></i>
        </p>
    {% endif %}
</div>
