{% extends "layouts/base.html" %}
{% load static %}

{% block title %} Dashboard {% endblock %}

{% block content %}

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,500&amp;subset=latin-ext" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
<link rel="stylesheet" href="{% static 'assets/css/home/patient_orders_list.css' %}">
<script src="{% static 'assets/js/orders/stars.js' %}" defer></script>
{% comment %}
<script src="{% static 'assets/js/orders/pop-up.js' %}" defer></script> {% endcomment %}
<script src="{% static 'assets/js/orders/comment-pop-up.js' %}" defer></script>
<link rel="stylesheet" href="{% static 'css/style.css' %}">

<div class="content">
    <div class="panel-header bg-primary-gradient">
        <div class="page-inner py-5">
            <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
                <div>
                    <h2 class="text-white pb-2 fw-bold">History Of Requests</h2>
                </div>
                <div class="ml-md-auto py-2 py-md-0">
                    <a onclick="window.location='{% url 'expertise_list' %}'"
                       class="btn btn-white btn-border btn-round mr-2">Submit New Request</a>
                </div>
            </div>
        </div>
    </div>

    <div class="cards-container">
        {% if orders_list%}
        {% for order in orders_list %}
        <div class="card profile-card">
            <div class="card-body pt-4">
                <div class="card__icon">
                    <img src="{% static 'assets/img/doctor-icon.jpg' %}"/>

                </div>
                <h5 class="card-title">Expertise: {{ order.expertise.name }}</h5>
                <div>
                    <li class="card-text"><b>Doctor:</b> {% if order.doctor %}
                        {{ order.doctor }}
                        {% else %}
                        درخواست شما هنوز توسط هیچ پزشکی تایید نشده‌است.
                        {% endif %}
                    </li>
                    <li class="card-text"><b>Address:</b> {{ order.address }}</li>
                    <li class="card-text"><b>Present Illness:</b> {{ order.details }}</li>
                    <li class="card-text"><b>Score: </b> {% if order.score == 0 %} <b style="color: #edb321">You have
                        not rated yet.</b> {% else %} {{ order.score }} {% endif %}
                    </li>
                    <li class="card-text"><b>Comment: </b> {% if not order.comment %} <b style="color: #edb321">There
                        are no comments yet.</b>{% else %} {{ order.comment }} {% endif %}
                    </li>
                    {% if not order.accepted %}
                        <li class="card-text" style="color: #ff8a8a">Your request has not been accepted by doctor <b>{{order.doctor}}</b> yet.</li>
                    {% endif %}
                </div>

                <div style="text-align: center;">
                    <dialog id="favDialog">
                        <div class="rate-header"><b>Please rate this request</b></div>
                        <br/>
                        <form id="rate-form" action="" method="POST" id="{{order.id}}">
                            {% csrf_token %}
                            <button type="submit" class="fa fa-star fa-3x my-btn" id="first"></button>
                            <button type="submit" class="fa fa-star fa-3x my-btn" id="second"></button>
                            <button type="submit" class="fa fa-star fa-3x my-btn" id="third"></button>
                            <button type="submit" class="fa fa-star fa-3x my-btn" id="fourth"></button>
                            <button type="submit" class="fa fa-star fa-3x my-btn" id="fifth"></button>
                        </form>
                        <div id="confirm-box" class="mt-3"></div>
                        <button onclick="window.location='{% url 'patient_orders_list' %}'" type="button"
                                class="btn btn-light btn-sm">Cancel
                        </button>
                        <button id="confirmBtn" onclick="window.location='{% url 'patient_orders_list' %}'"
                                type="button" class="btn btn-primary btn-sm">Submit
                        </button>
                    </dialog>
                </div>

                <div style="text-align: center;">
                    <dialog id="comDialog">
                        <form id="comment-form" action="" method="POST">
                            {% csrf_token %}
                            <div class="field" style="text-align: center;">
                                <textarea id="comment"
                                          placeholder="Please tell us about your experience with DociCom ..."
                                          class="form-control" rows="5"></textarea>
                            </div>

                            <div class="action-buttons">
                                <button type="button" onclick="window.location='{% url 'patient_orders_list' %}'"
                                        value="cancel" class="btn btn-light btn-sm"><b>Cancel</b>
                                </button>
                                <button type="submit" onclick="window.location='{% url 'patient_orders_list' %}'"
                                        id="confBtn" class="btn btn-primary btn-sm"><b>Submit</b>
                                </button>
                            </div>
                        </form>
                    </dialog>
                </div>

                <button type="button" class="btn btn-outline-warning mt-3 Score" onclick="score({{order.id}})">
                    <b>Score</b>
                </button>

                <button type="button" class="btn btn-outline-light mt-3 Comment" onclick="commenting({{order.id}})">
                    <b>Comment</b>
                </button>

                {% comment %}
                <div style="text-align: left;">
                    <button class="Comment button white ui" onclick="commenting({{order.id}})">ثبت نظر</button>
                </div>
                {% endcomment %}

            </div>
        </div>
        {% endfor %}
        {% else%}
        There are no requests submitted.
        {% endif%}
    </div>
</div>

{% endblock content %}