{% extends "layouts/authentication-base.html" %}
{% load static %}

{% block title %} Register {% endblock title %}

{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"
        type="text/css"
/>

<link rel="stylesheet" href="{% static 'assets/css/account/register.css' %}">

    <div class="ui inverted vertical center aligned segment" id="container">
        <nav class="ui container">
            <div class="ui borderless inverted compact menu">
                <a class="item" href="/">Home</a>
                <a class="active item" href="/accounts/signup/">Register</a>
                <a class="item" href="/accounts/signin/">Login</a>
                <a class="item" href="/accounts/help/">Help</a>
            </div>
        </nav>

        <div class="ui content container">
            <div class="row register-container" style="padding-top: 60px;width: 80%">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">
                                {% if msg %}
                                <span class="text-danger">{{ msg | safe }}</span>
                                {% else %}
                                <span>
                            Complete your credentials
                        </span>
                                {% endif %}
                            </div>
                        </div>

                        <form method="post" action="">
                            {% csrf_token %}
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <div class="form-group">
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="fas fa-user-circle"></i>
                                                </span>
                                                </div>
                                                {{ form.first_name }}
                                            </div>
                                        </div>
                                        <span class="text-danger">{{ form.first_name.errors }}</span>
                                    </div>

                                    <div class="col">
                                        <div class="form-group">
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="fas fa-user-circle"></i>
                                                </span>
                                                </div>
                                                {{ form.last_name }}
                                            </div>
                                        </div>
                                        <span class="text-danger">{{ form.last_name.errors }}</span>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col">
                                        <div class="form-group">
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="fas fa-user-alt"></i>
                                                </span>
                                                </div>
                                                {{ form.username }}
                                            </div>
                                        </div>
                                        <span class="text-danger">{{ form.username.errors }}</span>
                                    </div>

                                    <div class="col">
                                        <div class="form-group">
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="far fa-envelope"></i>
                                                </span>
                                                </div>
                                                {{ form.email }}
                                            </div>
                                        </div>
                                        <span class="text-danger">{{ form.email.errors }}</span>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col">
                                        <div class="form-group">
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="fas fa-phone"></i>
                                                </span>
                                                </div>
                                                {{ form.phone_number }}
                                            </div>
                                        </div>
                                        <span class="text-danger">{{ form.phone_number.errors }}</span>
                                    </div>

                                    <div class="col"></div>
                                </div>


                                <div class="row">
                                    <div class="col">
                                        <div class="form-group">
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="fas fa-lock"></i>
                                                </span>
                                                </div>
                                                {{ form.password1 }}
                                            </div>
                                        </div>
                                        <span class="text-danger">{{ form.password1.errors }}</span>
                                    </div>
                                    <div class="col">
                                        <div class="form-group">
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="fas fa-lock"></i>
                                                </span>
                                                </div>
                                                {{ form.password2 }}
                                            </div>
                                        </div>
                                        <span class="text-danger">{{ form.password2.errors }}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="card-action">
                                <button type="submit" class="btn btn-success">Sign Up</button>
                                &nbsp; &nbsp;
                                <div class="login-link">
                                    <span>Already have an account?</span> <a href="{% url 'signin' %}">Login</a>
                                </div>
                            </div>

                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>

    {% endblock content %}

    <!-- Specific JS goes HERE -->
    {% block javascripts %}{% endblock javascripts %}
