{% extends "layouts/authentication-base.html" %}
{% load static %}

{% block title %} Register {% endblock title %}

{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<link rel="stylesheet" href="{% static 'assets/css/account/register.css' %}">

<div class="page-inner register-page-inner">
    <div class="page-header">
        <h4 class="page-title">Register</h4>
    </div>
    <div class="row register-container">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-title">
                        {% if msg %}
                        <span class="text-danger">{{ msg | safe }}</span>
                        {% else %}
                        <span>
                            Complete your credentials
                        </span>
                        {% endif %}
                    </div>
                </div>

                <form method="post" action="">
                    {% csrf_token %}
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="fas fa-user-circle"></i>
                                                </span>
                                        </div>
                                        {{ form.first_name }}
                                    </div>
                                </div>
                                <span class="text-danger">{{ form.first_name.errors }}</span>
                            </div>

                            <div class="col">
                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="fas fa-user-circle"></i>
                                                </span>
                                        </div>
                                        {{ form.last_name }}
                                    </div>
                                </div>
                                <span class="text-danger">{{ form.last_name.errors }}</span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="fas fa-user-alt"></i>
                                                </span>
                                        </div>
                                        {{ form.username }}
                                    </div>
                                </div>
                                <span class="text-danger">{{ form.username.errors }}</span>
                            </div>

                            <div class="col">
                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="far fa-envelope"></i>
                                                </span>
                                        </div>
                                        {{ form.email }}
                                    </div>
                                </div>
                                <span class="text-danger">{{ form.email.errors }}</span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="fas fa-phone"></i>
                                                </span>
                                        </div>
                                        {{ form.phone_number }}
                                    </div>
                                </div>
                                <span class="text-danger">{{ form.phone_number.errors }}</span>
                            </div>

                            <div class="col">
                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="fas fa-hospital"></i>
                                                </span>
                                        </div>
                                        {% comment %} {{ form.user_type }} {% endcomment %}
                                        <select class="form-group" onchange="show_degree(this)">
                                            <option value="1">Doctor</option>
                                            <option value="2">Patient</option>
                                        </select>
                                    </div>
                                </div>
                                <script>
                                    function show_degree(val){
                                        document.getElementById("doctor").style.display = (val.value == 1 ? 'block' : 'none');
                                        document.getElementById("work_exp").style.display = (val.value == 1 ? 'block' : 'none');
                                        document.getElementById("expertise").style.display = (val.value == 1 ? 'block' : 'none');
                                    }
                                </script>
                                <span class="text-danger">{{ form.user_type.errors }}</span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <div class="form-group" id="work_exp">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="fas fa-calendar-alt"></i>
                                                </span>
                                        </div>
                                        {{ form.work_experience }}
                                    </div>
                                </div>
                                <span class="text-danger">{{ form.work_experience.errors }}</span>
                            </div>
                            <div class="col">
                                <div class="form-group" id="doctor">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="fas fa-id-card-alt"></i>
                                                </span>
                                        </div>
                                        {{ form.degree_type }}
                                    </div>
                                </div>
                                <span class="text-danger">{{ form.degree_type.errors }}</span>
                                <div class="form-group" id="expertise">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="fas fa-user-tag"></i>
                                                </span>
                                        </div>
                                        {{ form.expertises }}
                                    </div>
                                </div>
                                <span class="text-danger">{{ form.expertises.errors }}</span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="fas fa-lock"></i>
                                                </span>
                                        </div>
                                        {{ form.password1 }}
                                    </div>
                                </div>
                                <span class="text-danger">{{ form.password1.errors }}</span>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="fas fa-lock"></i>
                                                </span>
                                        </div>
                                        {{ form.password2 }}
                                    </div>
                                </div>
                                <span class="text-danger">{{ form.password2.errors }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="card-action">
                        <button type="submit" class="btn btn-success">Submit</button>
                        &nbsp; &nbsp;
                        <span>Already have an account?</span> <a href="{% url 'signin' %}">Login</a>
                    </div>

                </form>

            </div>
        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}{% endblock javascripts %}
