{% extends "layouts/base.html" %}
{% load static %}

{% block title %} DociCom - Expertises {% endblock %}

{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
<link rel="stylesheet" href="{% static 'assets/css/home/request_for_doc.css' %}">

<div class="ui raised very padded text container segment" id="container">
    <div class="ui blue message" style="text-align: left;">

        <i class="ambulance large icon"></i>
        You are now submitting a request for Doctor
        <b>{{ doc_name }}</b>
        <b>{{ doc_lname }}</b>
        with field of expertise
        <b> {{ exp }}</b>

    </div>
    <form class="ui form" action="{% url 'add_order' doc_id %}" method="post">
        {% csrf_token %}
        <div class="field" style="text-align: left;">
            <label style="font-size: 15px; color: black">Address</label>
            <label>
                <textarea rows="2" required="required" name="address" style="direction:ltr;"></textarea>
            </label>
        </div>
        <div class="field" style="text-align: left;">
            <label style="font-size: 15px"> Details</label>
            <label>
                <textarea required="required" name="details" style="direction:ltr;"></textarea>
            </label>
        </div>
        <button type="submit" class="btn btn-outline-success">Submit request</button>
    </form>
</div>

{% endblock content %}