{% load static %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
<head>
    <meta charset="utf-8">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/stars.js' %}" defer></script>
    <title>سوابق درخواست پیشین</title>
</head>
<div class="ui raised very padded text container segment">
    <div class="ui vertical labeled icon buttons" style="float:right">
        <button class="ui button blue">
            <i class="plus icon"></i>
            <a onclick="window.location='{% url 'expertise_list' %}'" style="color: white;">ثبت درخواست جدید</a>
        </button>
    </div>
    <div class="ui vertical labeled icon buttons">
        <button class="ui button red">
            <i class="sign out alternate icon white"></i>
            <a onclick="window.location='{% url 'signout' %}'" style="color: white;">خروج</a>
        </button>
    </div>
    <h3 class="ui block black header" style="text-align: right;">
        سوابق درخواست‌های پیشین
        <i class="id badge red icon"></i>
    </h3>
    {% if orders_list %}
        {% for order in orders_list %}
            <div class="ui segment" style="direction:rtl;background-color:floralwhite;">
                <div>
                    <b style="font-size: 20px; color: palevioletred;">تخصص
                        {{ order.expertise.name }}</b>
                </div>
                <div class="list">
                    <a class="item">
                        <a>نام پزشک:</a>
                        {% if order.doctor %}
                            {{ order.doctor }}
                        {% else %}
                            درخواست شما هنوز توسط هیچ پزشکی تایید نشده‌است.
                        {% endif %}
                    </a>
                    <br/>
                    <a class="item">
                        <a class="label">آدرس:</a>
                        {{ order.address }}
                    </a>
                    <br/>
                    <a class="item">
                        <a>شرح بیماری:</a>
                        {{ order.details }}
                    </a>
                    <br/>
                    <div class="col text-right">
                        <a>امتیازدهی:</a>
                        <form class="rate-form" action="" method="POST" id="{{order.id}}">
                            {% csrf_token %}
                            <button type="submit" class="fa fa-star my-btn" id="first"></button>
                            <button type="submit" class="fa fa-star my-btn" id="second"></button>
                            <button type="submit" class="fa fa-star my-btn" id="third"></button>
                            <button type="submit" class="fa fa-star my-btn" id="fourth"></button>
                            <button type="submit" class="fa fa-star my-btn" id="fifth"></button>
                        </form>
                        <div id="confirm-box"></div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <div class="ui red inverted segment" style="padding:10px;margin:10px;direction:rtl">
            هیچ درخواستی وجود ندارد!
        </div>
    {% endif %}
</div>