<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
<head>
    <meta charset="utf-8">
    <title>صفحه‌ی ثبت درخواست</title>
</head>
<div class="ui raised very padded text container segment">
<div class="ui vertical labeled icon buttons">
        <button class="ui button red">
            <i class="sign out alternate icon white"></i>
            <a onclick="window.location='{% url 'signout' %}'" style="color: white;">خروج</a>
        </button>
    </div>
    <div class="ui blue message" style="text-align: right;">
        .لطفا مشخصات خود را برای درخواست پزشک از تخصص
        <b style="font-size: 22px">{{ expertise.name }}</b>
        وارد کنید
        <i class="first aid red icon"></i>
    </div>
    <form class="ui form" action="{% url 'add_order' expertise.id %}" method="post">
        {% csrf_token %}
        <div class="field" style="text-align: right;">
            <label style="font-size: 15px">آدرس</label>
            <label>
                <textarea rows="2" required="required" name="address" style="direction:rtl;"></textarea>
            </label>
        </div>
        <div class="field" style="text-align: right;">
            <label style="font-size: 15px">شرح مختصر بیماری</label>
            <label>
                <textarea required="required" name="details" style="direction:rtl;"></textarea>
            </label>
        </div>
        <button class="ui button blue" type="submit">ثبت درخواست</button>
    </form>
</div>